*{ 


    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body{ 
    height: 100vh;
    display: grid;
    grid-template-rows: 10% 85% 5% ;



}
header { 

    display: flex;
    align-items: center;
    padding: 30px ;
    justify-content: space-between;
    position: relative;

}
.Luatbona { 

    transform: translatex(20vh);
    font-size: 1rem;

}
header a { 

    text-decoration: none;
    color: black;
    font-weight: bold;

}
.links {

    display: flex;
    gap: 40px;
    position: absolute;
    right: 50vh;
    top: 30px;

}
.links li { 

    list-style: none;
    font-weight: bold;

}
.links li a:hover, .links li a:active{ 

    color:  rgba(0, 140, 255, 0.603) ;

}
.main-text{ 

    font-size: 1rem;
    max-width: 70vh;
}
main{ 
    padding: 20px ;

    max-width: 100vw;
    overflow: hidden    ;
    display: flex;
    flex-direction: column;
justify-content: center;

}
main div { 

    transform: 
    scale(1.3,1.3)
    translateX(30vh)
    ;
}
main div h1, h2 { 

    color:  rgba(0, 140, 255, 0.603);
}
.lang {

    transform: 
    scale(1.3,1.3)
    translateX(16vw) 
    
    ;
}

.lang ul  {
     
    transform: 
    
    translateX(2vw) 
    translateY(5px)
    ;
}
footer  { 

    background-color: rgba(180, 166, 166, 0.274);
    display: flex;
    align-items: center;
    justify-content: center;
}
.current::after{ 

    content: '';
    display: block;
    width: 100%;
    border-radius: 15px;
    height: 3px;
    background-color:rgba(0, 140, 255, 0.603) ;
}

.menu{ 

    display: none;
}
@media screen and (max-width:500px) {


    body{ 

        width: 100vw;


        height: 100vh;
    }

    main div { 

        transform: 
        scale(1.1,1.1)
        translateX(0vh)
        ;
    }
    .Luatbona { 

        transform: translatex(2vh);
        z-index: 8;
        width: 45vw;
        font-size: 1rem;
    
    }

    .menu{ 

        display: block;
        z-index: 99;
        transform: translateY(20vh);
    }
    .theMemu{ 

        list-style: none;
        width: 50vw;
        height: 40vh;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 20px;
        transform: 
        translateX(100vw)
        translateY(20px) 
        ;

        background-color: rgba(180, 180, 180, 0.966);
        transition: all ease-in-out 500ms;
    }
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
#menu-btn { 

    background-color: transparent;
    border-style: none;
    transform: translateX(30vw);
    
}

.links{ 

    display: none;
}


.show-menu{ 

    transform: translateX(0vh);
}
 
}
@media (min-width:768px) and (max-width:1023px) {

    
    body{ 

        width:100vw;
    }

    ul { 

        transform: 
        translateX(65vw)
        translateY(2vh)
        ;

    }
    .Luatbona { 

        transform: translatex(10vh);
        z-index: 8;
        width: 45vw;
        font-size: 1rem;
    
    }
    main div:not(.lang){

        transform: translateX(0vw);
    }

}